apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infrastructure-automation
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/YOUR_ORG/infrastructure-automation.git
    targetRevision: HEAD
    path: infrastructure/argocd/apps
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
