apiVersion: v1
kind: ConfigMap
metadata:
  name: dnsmasq-config
  namespace: dns
data:
  dnsmasq.conf: |
    # Don't read /etc/resolv.conf
    no-resolv
    # Upstream DNS (Cloudflare)
    server=1.1.1.1
    server=1.0.0.1
    # Local domain
    local=/lab/
    # Host entries - Traefik ingress
    address=/traefik.lab/10.1.1.230
    address=/argocd.lab/10.1.1.230
    address=/workout.lab/10.1.1.230
    # Host entries - Cluster nodes
    address=/k3s-master.lab/10.1.1.60
    address=/k3s-worker-1.lab/10.1.1.61
    address=/k3s-worker-2.lab/10.1.1.62
    # Logging
    log-queries
