apiVersion: v1
kind: Service
metadata:
  name: dns
  namespace: dns
  annotations:
    metallb.io/loadBalancerIPs: "10.1.1.231"
    svccontroller.k3s.cattle.io/lbpool: ""
spec:
  type: LoadBalancer
  selector:
    app: dnsmasq
  ports:
  - name: dns-udp
    port: 53
    protocol: UDP
    targetPort: 53
  - name: dns-tcp
    port: 53
    protocol: TCP
    targetPort: 53
