apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://traefik.github.io/charts
    targetRevision: "34.4.1"  # Traefik Helm chart version
    chart: traefik
    helm:
      valueFiles:
        - $values/infrastructure/local-runners/traefik/values.yaml
  sources:
    - repoURL: https://traefik.github.io/charts
      targetRevision: "34.4.1"
      chart: traefik
      helm:
        valueFiles:
          - $values/infrastructure/local-runners/traefik/values.yaml
    - repoURL: https://github.com/csGIT34/infrastructure-automation.git
      targetRevision: main
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
